.MuiPaper-elevation16 {
    width: 50% !important;
    left: 25%;
}

[class^='relationships_info__'] {
    max-width: 60% !important;
}

[class^='comment-item_root__'] {
    content-visibility: auto;
}

[class*='base_card__'] {
    width: 80% !important;
}

[class^='comments_modal-out__'] {
    max-width: 40%;
}

[class^='relationships_header__'],
[class^='compact-tabbar_tabbar-root__'],
[class^='relationships_user-item__'] {
    width: 100%;
}