<div class="accordion__item">
    <input type="checkbox" class="accordion__toggle" id="{{$type}}_req_pending_{{$username}}" />
    <div class="accordion__header">
        <label for="{{$type}}_req_pending_{{$username}}"></label>
        <img class="member_avatar" src="{{$avatar}}" />
        <span class="accordion__title">审核中：{{$name}} 于 {{$date}} 的申请</span>
    </div>
    <div class="accordion__content">
        <div class="input_container">
            <span class="container__addon">Ta的回答：</span>
            <button class="container__input">{{$awnser}}</button>
        </div>
        <div class="input_container">
            <span class="container__addon">通过</span>
            <button class="container__input">通过</button>
        </div>
        <div class="input_container">
            <span class="container__addon">拒绝</span>
            <button class="container__input">拒绝</button>
        </div>
    </div>
</div>