<div class="accordion__item">
    <input type="checkbox" class="accordion__toggle" id="shelf_addshelf" />
    <div class="accordion__header">
        <label for="shelf_addshelf"></label>
        <span class="accordion__title">添加书架</span>
    </div>
    <div class="accordion__content">
        <div class="input_container">
            <span class="container__addon">书架名称</span>
            <input type="text" class="container__input" max="25" placeholder="必填。应少于25个字符。" />
        </div>
        <div class="input_container">
            <span class="container__addon">添加</span>
            <button class="container__input">添加</button>
        </div>
    </div>
</div>