[class^='topic-selector_root__']:hover {
    height: unset
}

[class^='topic-selector_root__'] button {
    height: 30px;
    margin: 5px 5px 0px 0px;
}

[class^='topic-selector_root__'] {
    height: 43px;
    flex-wrap: wrap;
}

[class^='thought_content__'] p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

[class^='thought_root__'] {
    padding: 1px 1px 1px 1px;
}

body {
    width: 99%;
}

#vListWrapper {
    position: relative;
    width: 90%;
    left: 5%;
}

[class^='thought_root__'] [class^='thought_topic-wrapper__'] {
    margin-top: 0px;
}

[class^='thought_root__'] [class^='actions_actions-with-reactions-wrapper__'],
[class^='thought_root__'] [class^='thought_head__'] {
    margin-bottom: 0px;
    margin-top: 0px;
    transform: scale(0.75);
    margin-left: -14%;
}

[class^='post-preview_cover__'],
[class^='thought_img-wrapper__'],
[class^='card_frame-wrapper__'],
[class^='thought_player-wrapper__'],
[class^='typing-bar_typing-wrap__'],
[class^='card_third-thumb-wrapper__'],
[class^='comment-item_deleted__'] {
    display: none;
}

[class^='images-grid_root__'] {
    width: var(--imgwidth);
    left: var(--imgleft);
}

[class^='comment-item_images-area__'] {
    width: 70%;
    left: 15%;
}

p>.bg-gray-300 {
    background-color: unset;
    width: var(--imgwidth);
    left: var(--imgleft);
}

div>.bg-gray-300 {
    width: unset;
    height: unset;
}

[class^='images-grid_img-ratio__'] {
    width: unset;
}

.MuiPaper-elevation16 {
    width: 50% !important;
    right: 25%;
}

.searchroot {
    position: fixed;
    inset: 0px;
    z-index: 10;
}

.searchdisplay {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 10px -5px, rgb(0 0 0 / 14%) 0px 16px 24px 2px, rgb(0 0 0 / 12%) 0px 6px 30px 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 0 auto;
    z-index: 1200;
    position: fixed;
    top: 0px;
}

.searchdisplay div.form {
    position: relative;
    width: 300px;
    margin: 40px auto
}

.searchdisplay div.form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchdisplay div.form div input {
    width: 24px;
    height: 24px;
}

.searchdisplay div.form svg {
    margin: 0 0 0 10px;
}

.searchdisplay input {
    border: 2px solid rgb(52, 91, 172);
    border-radius: 10px;
    background: rgb(249, 240, 218);
    color: rgb(158, 156, 156);
    width: 100%;
    height: 42px;
    padding-left: 13px;
    outline: none
}

.searchdisplay button {
    top: 0;
    right: 0;
    background: rgb(52, 91, 172);
    border-radius: 0 10px 10px 0;
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    border: none;
    outline: none;
    color: rgb(255, 255, 255)
}

.blackback {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 10;
}

#searchres {
    display: flex;
    flex-direction: column
}

.searchitem {
    width: 90%;
    margin: 5px auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.searchitem .content,
#searchicon {
    cursor: pointer;
}

.searchitem div,
.searchitem p {
    padding: 0px 10px 10px 10px;
}

.searchitem div.poster {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
}

.searchitem div.poster img {
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

.searchitem div.poster .nickname {
    font-weight: bold
}

.searchitem div.poster .date {
    font-size: 10px;
}

[class^='desktop_left-container__'] {
    flex-basis: var(--leftsidewidth) !important
}

.url-turned a {
    text-decoration: none;
    color: rgb(255 70 175);
}

[class^='desktop_right-container__'] {
    flex-basis: var(--rightsidewidth) !important
}

[class^='base_root__'] {
    z-index: 10 !important
}

[class^='message-text_content-wrap__'] {
    display: block;
}

[class^='MuiModal-root comments_modal__'] {
    z-index: 10 !important;
}

[class^='comments_modal-out__'] {
    max-width: 50%;
}

.blacklist {
    margin: 20px 0 0 0;
    color: rgb(var(--colors-receive-msg));
    border: 2px solid rgb(52, 91, 172);
}

@media (prefers-color-scheme: dark) {
    body#app {
        --colors-background-regular: 33 33 33;
        --colors-background-lighter: 43 43 43;
        --colors-background-morelighter: 55 55 55;
        --colors-background-gray: 60 60 60;
        --colors-emphasis: 230 230 230;
        --colors-background-receive-msg: 80 80 80;
        --colors-msg: 235 235 235;
        --colors-receive-msg: 255 255 255;
        --colors-background-sent-msg: 120 120 120;
        --colors-background-darker: 25 25 25;
        --colors-primary: 114 148 218;
        --colors-primary-darker: 154 178 228;
        --colors-gray-200: 140 140 140;
        --colors-gray-100: 110 110 110;
        --colors-background-msg: 100 100 100;
        --colors-caption: 235 235 235;
        --colors-background-comment: 60 60 60;
        --colors-background-reply: 80 80 80;
        --colors-body: 255 255 255;
        --colors-gray-50: 60 60 60;
        --colors-background-light: 45 45 45;
        --colors-background-selected-comment: 100 100 100;
        --colors-gray-500: 250 250 250;
        --colors-gray-400: 240 240 240;
        --colors-background-dialog: 55 55 55;
        --colors-background-heading: 45 45 45;
    }
    [class^='thought-view_post-content__']>div p,
    h1,
    h2,
    h3 {
        color: rgb(var(--colors-emphasis)) !important;
    }
    [class^='message-container_list__']>div,
    [class^='message-container_list__'],
    [class^='message-stamp_bubble__'],
    [class^='containers_middle-root__'] {
        background-color: rgb(var(--colors-background-lighter));
    }
    [class^='containers_chat-header__'],
    [class^='message-container_reply-bar__'] {
        background-color: rgb(var(--colors-background-darker)) !important;
    }
    [class^='thought_info-wrapper__'] {
        color: white;
    }
    [class^='thought_info-wrapper__']:hover {
        background-color: rgb(var(--colors-gray-200));
    }
    textarea,
    [class^='pin-list_root__'],
    [class^='comments_title-bar__'] {
        background: rgb(var(--colors-background-lighter)) !important;
    }
    div.w-full.flex.justify-center.absolute.top-0.z-10.bg-background-regular.h-14.items-center {
        background-color: rgb(var(--colors-background-regular)) !important;
    }
    [class^='comment-item_name__'],
    [class^='comment-item_action-btn__'],
    .text-sm.truncate,
    [class^='card_name__'],
    .text-black {
        color: rgb(var(--colors-msg));
    }
    [class^='containers_selector__'] {
        background-color: rgb(var(--colors-background-regular));
    }
    [class^='card_root__'],
    [class^='button_reaction-btn__'],
    [class^='search-bar_input__'] {
        background-color: rgb(var(--colors-background-receive-msg));
    }
    [class^='card_content__'],
    [class^='item-in-list_header__'],
    [class^='thought_quote-bar__'],
    .font-medium,
    .text-md.truncate,
    .text-3xl,
    .text-xl,
    .my-4,
    [class^='wiki-item_header__'],
    .text-2xl,
    div.MuiDialogContent-root>p,
    [class^='user-setting-dialog_header__'],
    [class^='right_white-btn__'],
    .ProseMirror,
    .searchdisplay div.form div {
        color: rgb(var(--colors-receive-msg));
    }
    .MuiPaper-elevation16,
    .MuiPaper-elevation {
        background-color: rgb(var(--colors-background-regular));
    }
    [class^='base_no-outline__'],
    [class^='base_no-outline__']:active,
    [class^='card_action-btn__'] {
        background-color: rgb(var(--colors-background-receive-msg));
        color: rgb(var(--colors-receive-msg));
    }
    [class^='card_identity-card-root-desktop__'] [class^='card_action-btn__'],
    [class^='text-field_input__'],
    [class^='text-field_root__'],
    .searchitem,
    .searchdisplay input {
        background-color: rgb(var(--colors-background-receive-msg));
        color: rgb(var(--colors-receive-msg));
    }
    [class^='message-container_reaction-panel__'],
    [class^='drawer_dialog__'],
    [class^='plain-input_compose-textarea-wrapper__'] {
        background-color: rgb(var(--colors-background-morelighter));
    }
}

[class^='comment-item_root__'] {
    content-visibility: auto;
    min-width: 500px;
}

.thought-widget {
    z-index: 10;
    position: absolute;
    width: 40px;
    bottom: 20%;
    right: 5%;
    display: flex;
    flex-direction: column;
    background-color: rgb(70 70 70 / 80%);
    cursor: pointer;
    border-radius: 20px;
}

.reversed {
    display: flex;
    flex-direction: column-reverse;
}

input.switcher+label {
    margin: 0 0 5px 0;
    width: 40px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 20px;
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.switcher+label:before,
input.switcher+label:after {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    content: "";
}

input.switcher+label:before {
    right: 0px;
    background-color: #f1f1f1;
    border-radius: 20px;
    transition: background 0.4s;
}

input.switcher+label:after {
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.switcher:checked+label:before {
    background-color: rgb(114 148 218);
}

input.switcher:checked+label:after {
    margin-left: 20px;
}